<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
    <head>
        <meta charset="UTF-8">
        <title>All Games</title>
    </head>
    <body>
        <div class="allGames">
            <div class="singleGame" th:each="game : ${games}"
                th:onclick="|window.location.href='/games/' + ${game.id}|">
                <h2 th:text="${game.title}">Title</h2>
                <p th:text="${game.genre}">Genre</p>
                <p th:text="${game.platform}">Platform</p>
                <p
                    th:text="'RM' + ${#numbers.formatDecimal(game.pricePerDay, 1, 'COMMA', 2, 'POINT')}">Price
                    per Day</p>
                <p th:text="${game.releaseDateFormatted}">Release Date</p>
            </div>
            <div th:if="${#lists.isEmpty(games)}">
                <p>No games found</p>
            </div>
        </div>
    </body>
</html>