/* Modal styles */
:root {
  --background-color: #202132;
  --highlight-color: #cd0020;
  --not-white: #e9eff1;
  --secondary-color: #14151f;
  --blur-text: #7a879e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--not-white);
  font-family: Inter;
}

.allGames h2 {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.allGames {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.allGames .dataDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  vertical-align: middle;
  gap: 10px;
}

.allGames .dataDiv p {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.allGames .singleGame {
  background-color: var(--secondary-color);
  width: 320px;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  align-items: center;
  vertical-align: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 40px;
  border-radius: 4%;
  width: 1000px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.detailsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
  justify-content: center;
}

.singleGame > div {
  cursor: pointer;
}

.detailsDivRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.allGames .singleGame h2 {
  text-align: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonDiv button,
.buttonDiv a,
.newGame {
  padding: 8px 20px;
  border-radius: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--not-white);
  color: var(--not-white);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.buttonDiv button:last-child,
.buttonDiv a:last-child,
.newGame {
  background-color: var(--highlight-color);
  border: none;
}

.buttonDiv button:hover,
.buttonDiv a:hover,
.newGame:hover {
  background-color: var(--not-white);
  color: var(--background-color);
}

nav a {
  color: var(--not-white);
  text-decoration: none;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: var(--secondary-color);
  padding: 15px 10px 10px 10px;
  border-radius: 60px;
  margin: 20px 0px;
}

nav li {
  padding: 0px 10px;
}

nav li:hover svg {
  transform: scale(1.2);
}

nav li svg {
  transition: transform 0.3s;
}

.detailsDiv .dataDiv {
  justify-content: center !important;
}

.newGame {
  width: 86% !important;
  margin: 20px 0px;
  padding: 15px;
}

.gameData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  vertical-align: middle;
  align-items: center;
}

.allGameData {
  width: 80%;
  margin-top: 20px;
}

.allGameData .gameData > p svg {
  margin-bottom: -4px;
}

.allGameData .gameData > p:first-child svg {
  margin-bottom: -2px;
}

.allGameData .gameData > p:last-child svg {
  margin-bottom: -2px;
}

.gameData p {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 14px;
}

.allGameData li {
  list-style-position: outside;
  margin-left: -25px;
}

.allGameData ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.allGameData h2 {
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: var(--blur-text);
  padding-bottom: 20px;
  margin: 40px 0px 20px 0px;
}

.gameDescription {
  text-align: justify;
  line-height: 25px;
}

.modal-content {
  background-color: var(--background-color);
}

.modalForm,
.modalForm form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.modalForm input,
.modalForm textarea,
.modalForm select {
  display: flex;
  height: 40px;
  width: 96%;
  border-radius: 14px;
  background-color: var(--blur-text);
  border: none;
  color: var(--not-white);
  padding: 0px 10px;
}

.inputDiv {
  width: 45%;
}

.inputDiv input,
.inputDiv textarea {
  margin-top: 10px;
}

.adminButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputDivFullWidth {
  width: 96%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -20px;
}

.inputDivFullWidth textarea {
  height: 100px;
  padding: 20px;
  text-align: justify;
}

#editGameModal .inputDiv {
  display: flex;
  flex-direction: column;
}

#editGameModal .inputDiv label {
  margin-top: 20px;
}

#deleteGameModal .modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#deleteGameModal .modal-content {
  width: 500px;
}

.newGame {
  margin-top: 0px;
}

.AddReviewForm .inputDiv {
  display: flex;
  flex-direction: column;
}

.AddReviewForm .inputDivParent {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.AddReviewForm .inputDiv:first-child {
  width: 80%;
}

.AddReviewForm .inputDiv:last-child {
  width: 20%;
}

.AddReviewForm .inputDiv input,
.AddReviewForm .inputDiv textarea {
  display: flex;
  height: 40px;
  border-radius: 14px;
  background-color: var(--blur-text);
  border: none;
  color: var(--not-white);
  padding: 10px;
}

.AddReviewForm .buttonDiv {
  place-self: end;
  margin-top: 20px;
}

.singleReview {
  display: flex;
  width: 45%;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
}

.singleReview p {
  margin: 0px;
  padding: 0px;
}

.singleReview .buttonDiv {
  place-self: end;
}

.allReviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.singleReview p {
  width: 100%;
  text-align: justify;
  word-break: break-all;
  white-space: normal;
  line-height: 22px;
}

.singleReviewContent {
  height: 90%;
}

.rentalForm .inputDiv select,
.rentalForm .inputDiv p,
.game-info .inputDiv p {
  display: flex;
  border-radius: 14px;
  background-color: var(--blur-text);
  border: none;
  color: var(--not-white);
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-top: 5px;
  width: 300px;
}

.rentalForm .inputDiv select {
  width: 320px;
}

.rentalForm {
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.rentalForm .inputDiv {
  margin-top: 20px;
  width: 320px;
}

.rentalForm .inputDiv span,
.game-info .inputDiv span {
  margin: 0px;
  padding: 0px;
}

.rentalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rentalForm .buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.game-info h1 {
  text-align: center;
}

.centered {
  text-align: center !important;
}

.rentalSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rentalSuccess a {
  margin-top: 20px;
}

.navigation .buttonDiv {
  margin-top: 40px;
}

.rentedGames .singleGame p,
.rentedGames .singleGame h1,
.rentedGames .singleGame h2,
.rentedGames .singleGame h3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.success-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.success-container p,
.success-container h1 {
  text-align: center;
}

.success-container .buttonDiv {
  margin-top: 40px;
}

table {
  width: 80%;
  margin: 20px 0;
  border-spacing: 10px;
  font-size: 16px;
}
th,
td {
  padding: 20px;

  text-align: center;
  background-color: #7a879e4a;
}
th {
  background-color: var(--secondary-color);
}

th,
td {
  border-radius: 14px;
}

.rentalsButtons {
  margin-top: 20px;
}
