<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rental Success</title>
</head>
<body>
    <h1>Added To Cart!</h1>
    <div th:if="${rental}">
        <p>Your rental has been added to cart.</p>
        <p>Start Date: <span th:text="${rental.rentalStartDate}"></span></p>
        <p>End Date: <span th:text="${rental.rentalEndDate}"></span></p>
        <p>Total Price: $<span th:text="${rental.totalPrice}"></span></p>
    </div>
    <a href="/rentals/cart">Go to Cart</a>
    <a href="/games">Back to Game List</a>
</body>
</html>